management {{ .Management }}

port {{ .Port }}
proto {{ .Proto }}

dev tun

ca {{ .Ca }}
cert {{ .Cert }}
key {{ .Key }}

cipher {{ .Cipher }}
keysize {{ .Keysize }}
auth {{ .Auth }}
dh {{ .Dh }}

server {{ .Server }}
ifconfig-pool-persist {{ .IfconfigPoolPersist }}
push "route {{ .Server }}"

{{$route_arr := Split .Route ","}}
{{range $k, $v := $route_arr}}
    push "route {{ $v }}"
{{end}}

push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"

keepalive {{ .Keepalive }}

comp-lzo
max-clients {{ .MaxClients }}

persist-key
persist-tun

log         openvpn.log
verb 3

mute 10
